@import url('https://fonts.cdnfonts.com/css/montserrat');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2b2c2e;
  font-family: "Montserrat" !important;
  color: #fff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
